Repository sergeyklay/promptly, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, javascript, python, github_actions, documentation

.github/labeler.yml:

# This file is part of the Promptly.
#
# Copyright (C) 2023 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

frontend:
  - 'promptly/static/css/**/*'
  - 'promptly/static/img/**/*'
  - 'promptly/static/js/**/*'
  - 'promptly/static/scss/**/*'
  - 'promptly/templates/**/*'

javascript:
  - 'package.json'
  - 'package-lock.json'
  - '**/*.js'

python:
  - 'requirements/**/*.in'
  - 'requirements/**/*.txt'
  - 'migrations/**/*'
  - '**/*.py'

github_actions:
  - '.github/**/*'

documentation:
  - 'docs/**/*'
  - '**/*.rst'

feat: use request.endpoint to set menu item as active
  promptly/chat/views.py
  promptly/templates/layout/base.html
  promptly/templates/layout/sidebar.html
  promptly/templates/macros.html
Labels: frontend, python

feat: refactor textarea autoResize to improve modularity & accuracy
  promptly/static/js/chat.js
  promptly/static/scss/style.scss
  promptly/templates/layout/base.html
  tests/frontend/chat.test.js
Labels: frontend, javascript

feat: refactor textarea autoResize to improve modularity & accuracy
  promptly/static/js/chat.js
  promptly/static/scss/style.scss
  promptly/templates/layout/base.html
  tests/frontend/chat.test.js
Labels: frontend, javascript

build: setup webpack to build min.js & min.js.map
  .gitignore
  package-lock.json
  package.json
  webpack.config.js
Labels: javascript

build: setup webpack to build min.js & min.js.map
  .gitignore
  package-lock.json
  package.json
  webpack.config.js
Labels: javascript

fix: fix calculateTextareaHeight to use proper textarea height
  promptly/static/js/chat.js
  promptly/static/js/promptly.js
Labels: frontend, javascript

fix: fix calculateTextareaHeight to use proper textarea height
  promptly/static/js/chat.js
  promptly/static/js/promptly.js
Labels: frontend, javascript

feat: use minified versions of assets only in debug mode
  promptly/app.py
  promptly/main/views.py
  promptly/templates/layout/base.html
Labels: frontend, python

feat: use minified versions of assets only in debug mode
  promptly/app.py
  promptly/main/views.py
  promptly/templates/layout/base.html
Labels: frontend, python

feat(ui): redesign send button to small square overlay button
  package-lock.json
  package.json
  promptly/static/js/chat.js
  promptly/static/js/promptly.js
  promptly/static/scss/style.scss
  promptly/templates/layout/footer.html
Labels: frontend, javascript

fix: fix overflow-y status for text area
  promptly/static/js/chat.js
  tests/frontend/chat.test.js
Labels: frontend, javascript

test: minor refactor chat test
  jest.config.js
  tests/frontend/chat.test.js
Labels: javascript

build(deps-dev):add @types/jest to help IDE
  package-lock.json
  package.json
Labels: javascript

feat: replace feather icons by bootstrap ones
  promptly/static/scss/style.scss
  promptly/templates/layout/footer.html
Labels: frontend

build: move scss source to frontend directory
  frontend/scss/style.scss
  package.json
Labels: javascript

build: tune up webpack
  package.json
Labels: javascript

fix: fix overflow-y status for text area
  promptly/static/js/chat.js
  tests/frontend/chat.test.js
Labels: frontend, javascript

build: move scss source to frontend directory
  frontend/scss/style.scss
  package.json
Labels: javascript

build: tune up webpack
  package.json
Labels: javascript

test: minor refactor chat test
  jest.config.js
  tests/frontend/chat.test.js
Labels: javascript

build(deps-dev):add @types/jest to help IDE
  package-lock.json
  package.json
Labels: javascript

feat(ui): redesign send button to small square overlay button
  package-lock.json
  package.json
  promptly/static/js/chat.js
  promptly/static/js/promptly.js
  promptly/static/scss/style.scss
  promptly/templates/layout/footer.html
Labels: frontend, javascript

feat: replace feather icons by bootstrap ones
  promptly/static/scss/style.scss
  promptly/templates/layout/footer.html
Labels: frontend

build: move static source files to the common place
  frontend/js/chat.js
  frontend/js/cookie.js
  frontend/js/promptly.js
  tests/frontend/chat.test.js
  tests/frontend/cookies.test.js
  webpack.config.js
Labels: javascript

docs: update screenshot
  docs/screenshot.png
Labels: documentation

build: compile CSS source map, as well as dev- nad prod-version
  .gitignore
  package.json
Labels: javascript

chore: rename paths consts
  webpack.config.js
Labels: javascript

docs: update screenshot
  docs/screenshot.png
Labels: documentation

chore: rename paths consts
  webpack.config.js
Labels: javascript

build: compile CSS source map, as well as dev- nad prod-version
  .gitignore
  package.json
Labels: javascript

build: move static source files to the common place
  frontend/js/chat.js
  frontend/js/cookie.js
  frontend/js/promptly.js
  tests/frontend/chat.test.js
  tests/frontend/cookies.test.js
  webpack.config.js
Labels: javascript
