Repository sergeyklay/promptly, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, javascript, python, github_actions, documentation

.github/labeler.yml:

# This file is part of the Promptly.
#
# Copyright (C) 2023 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

frontend:
  - 'promptly/static/css/**/*'
  - 'promptly/static/img/**/*'
  - 'promptly/static/js/**/*'
  - 'promptly/static/scss/**/*'
  - 'promptly/templates/**/*'

javascript:
  - 'package.json'
  - 'package-lock.json'
  - '**/*.js'

python:
  - 'requirements/**/*.in'
  - 'requirements/**/*.txt'
  - 'migrations/**/*'
  - '**/*.py'

github_actions:
  - '.github/**/*'

documentation:
  - 'docs/**/*'
  - '**/*.rst'

test: provide ability to test js code
  .babelrc
  .gitattributes
  .github/workflows/test-code.yaml
  .gitignore
  Makefile
  jest.config.js
  package-lock.json
  package.json
  promptly/static/js/chat.js
  promptly/static/js/cookie.js
  promptly/static/js/promptly.js
  promptly/static/js/script.js
  promptly/static/js/script.min.js
  promptly/templates/layout/base.html
  tests/js/chat.test.js
  webpack.config.js
Labels: frontend, javascript, github_actions

chore: code cleanup
  promptly/static/js/chat.js
Labels: frontend, javascript

chore(squash): code cleanup
  promptly/static/js/script.min.js
Labels: frontend, javascript

feat: remove auto-generated files from git index
  .gitattributes
  .gitignore
  promptly/static/css/style.css
  promptly/static/js/script.min.js
Labels: frontend, javascript

docs: amend documentation
  docs/installation.rst
Labels: documentation

build: separate JS and Python build/test tasks
  .github/workflows/test-code.yaml
  Makefile
  package.json
Labels: javascript, github_actions

test: add cookies test
  tests/js/cookies.test.js
Labels: javascript

ci: correct GH workflow to run JS tests
  .github/workflows/test-code.yaml
Labels: github_actions

chore: code cleanup
  default.mk
Labels: none

chore: code cleanup
  Makefile
Labels: none

build: regenerate css on npm run build
  package.json
Labels: javascript

test: amend chat tests
  tests/js/chat.test.js
Labels: javascript

build: regenerate css on npm run build
  package.json
Labels: javascript

feat: remove auto-generated files from git index
  .gitattributes
  .gitignore
  promptly/static/css/style.css
  promptly/static/js/script.min.js
Labels: frontend, javascript

ci: correct GH workflow to run JS tests
  .github/workflows/test-code.yaml
Labels: github_actions

chore: code cleanup
  promptly/static/js/chat.js
Labels: frontend, javascript

test: add cookies test
  tests/js/cookies.test.js
Labels: javascript

docs: amend documentation
  docs/installation.rst
Labels: documentation

test: provide ability to test js code
  .babelrc
  .gitattributes
  .github/workflows/test-code.yaml
  .gitignore
  Makefile
  jest.config.js
  package-lock.json
  package.json
  promptly/static/js/chat.js
  promptly/static/js/cookie.js
  promptly/static/js/promptly.js
  promptly/static/js/script.js
  promptly/static/js/script.min.js
  promptly/templates/layout/base.html
  tests/js/chat.test.js
  webpack.config.js
Labels: frontend, javascript, github_actions

build: separate JS and Python build/test tasks
  .github/workflows/test-code.yaml
  Makefile
  package.json
Labels: javascript, github_actions

test: amend chat tests
  tests/js/chat.test.js
Labels: javascript

chore(squash): code cleanup
  promptly/static/js/script.min.js
Labels: frontend, javascript

chore: code cleanup
  default.mk
Labels: none

chore: code cleanup
  Makefile
Labels: none

chore: correct badge urls
  README.rst
Labels: documentation

ci: setup python, os and node version matrix
  .github/workflows/test-code.yaml
Labels: github_actions

test: add initial test for api views
  promptly/utils.py
  requirements/requirements-dev.txt
  tests/api/test_api_views.py
  tests/conftest.py
Labels: python

test: add initial test for api views
  promptly/utils.py
  requirements/requirements-dev.txt
  tests/api/test_api_views.py
  tests/conftest.py
Labels: python

ci: setup python, os and node version matrix
  .github/workflows/test-code.yaml
Labels: github_actions

test: add test for concurrent.futures.TimeoutError
  promptly/utils.py
  tests/test_utils.py
Labels: python

test: add test for concurrent.futures.TimeoutError
  promptly/utils.py
  tests/test_utils.py
Labels: python

docs: update app screenshot
  docs/screenshot.png
Labels: documentation

chore: remove no longer needed .babelrc
  .babelrc
  package.json
Labels: javascript

fix(build-dev): fix package.json scripts to run webpack
  package.json
Labels: javascript

chore: add copyright notice
  jest.config.js
Labels: javascript

refactor(build-dev): minor refactor of webpack.config.js
  webpack.config.js
Labels: javascript

chore(ci): rename some GH workflows
  .github/workflows/lint-code.yml
  .github/workflows/set-pr-labels.yml
  .github/workflows/test-code.yaml
  .github/workflows/test-docs.yml
Labels: github_actions

chore(ci): rename some GH workflows
  .github/workflows/lint-code.yml
  .github/workflows/set-pr-labels.yml
  .github/workflows/test-code.yaml
  .github/workflows/test-docs.yml
Labels: github_actions

test: add tests to improve coverage for chat and cookies logic
  jest.config.js
  promptly/static/js/cookie.js
  tests/frontend/chat.test.js
  tests/frontend/cookies.test.js
Labels: frontend, javascript

test: add tests to improve coverage for chat and cookies logic
  jest.config.js
  promptly/static/js/cookie.js
  tests/frontend/chat.test.js
  tests/frontend/cookies.test.js
Labels: frontend, javascript
